@import 'bootstrap_custom_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.mainLayout {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(sm) {
    // set horizontal padding to match title bar
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.sidebar {
  width: 330px;
}

.newSampleButton {
  width: 100%;
  margin-bottom: 2rem;
}
