@import 'bootstrap_custom_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.qualityBitDepthWrapper {
  max-width: 400px;
  margin-bottom: 1.5rem;

  .label {
    margin-bottom: 2rem;
  }

  .ticks {
    position: relative;
  }

  .tickLabel {
    color: $text-muted;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
  }

  .tickMark {
    position: absolute;
    top: 0.5rem;
    width: 1px;
    height: 0.25rem;
    background-color: $text-muted;
  }

  .annotations {
    transform: translateY(-50%);
    margin-bottom: -0.5em;
    display: flex;
    justify-content: space-between;
    color: $text-muted;
  }
}