@import 'bootstrap_custom_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.optionsButton {
  float: right;
}

.normalizeControlWrapper {
  display: inline-block;
  margin-bottom: $spacer * 2;
}

.waveformBoundingBox {
  height: 120px;
  margin-bottom: $spacer * 5.5;
}

.slotNumber {
  --slot-bg-color: var(--bs-dark);
  --slot-width: 160px;
  --slot-padding: 0.25rem;
  background-color: var(--slot-bg-color);
  display: inline-block;
  width: var(--slot-width);
  padding: var(--slot-padding);
  border-radius: var(--slot-padding);
  position: relative;
  cursor: text;

  & > svg {
    width: calc(var(--slot-width) - var(--slot-padding) * 2);
    transform: skewX(-4deg);

    // digits background
    &:first-child {
      position: absolute;
      top: 0.25rem;
      opacity: 0.4;
    }

    polygon {
      stroke: var(--slot-bg-color);
    }

    g:nth-last-child(3),
    g:nth-last-child(2),
    g:nth-last-child(1) {
      pointer-events: bounding-box;
    }

    circle.point {
      fill: var(--bs-primary);
    }
  }
}
