@import 'bootstrap_custom_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.waveformContainer {
  --trim-pixels-left: 0px;
  --trim-pixels-right: 0px;
  --waveform-width: 0px; // defined by javascript
  filter: var(--grayscale-filter);
  mix-blend-mode: darken;
  position: relative;
  width: var(--waveform-width);
  height: 40px;

  &.playbackActive {
    filter: unset;
  }
}

div.listItem {
  cursor: initial;
  text-align: left;
  overflow: hidden;
  &:hover {
    background-color: var(--bs-gray-100);
  }

  &:hover,
  &.active,
  &:focus,
  &:focus-visible {
    color: var(--bs-primary);

    .waveformContainer {
      filter: unset;
    }
  }

  &:focus,
  &:focus-visible {
    outline: $input-btn-focus-width solid $input-btn-focus-color;
    outline-offset: -$input-btn-focus-width;
  }

  .sampleTitle {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .playbackButton {
    border-radius: 50%;
    position: relative;
    padding: 14px;
    margin-right: 0.5rem;

    & > svg {
      position: absolute;
      fill: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.emptyListMessage {
  color: $text-muted;
}
