.sampleMenuButtonFullWidth {
  width: 100%;
  margin-bottom: 1rem;
}

.sampleMenuButtonsContainer {
  @extend .sampleMenuButtonFullWidth;
  display: flex;
  gap: 0.5rem;

  & > button {
    width: 100%;
  }
}

.search {
  margin-bottom: 1rem;
}

.offcanvasBody {
  display: flex;
  flex-direction: column;
}

.listGroup {
  min-height: 0;
}

.accordion {
  display: flex;
  flex-direction: column;
  // 1px greater than the height.. TODO: find a way not to hardcode ?
  --accordion-header-min-height: 55px;
  --empty-message-height: 48px;
  --result-height: 95px;
  --results-count: 0; // specified by javascript
  --accordion-open: 0; // 0 or 1, specified by javascript
  --min-height: min(
    calc(
      /* we always need to see the accordion header */
        var(--accordion-header-min-height) +
        (
          /* multiply results height by 0 or 1 for closed / open */
            var(--accordion-open) *
            max(
              var(--empty-message-height),
              calc(var(--results-count) * var(--result-height))
            ) - 1px
        )
    ),
    calc(100vh / 3)
  );
  min-height: var(--min-height);

  &:not(:first-child) > .accordionItem {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:not(:last-child) {
    margin-bottom: -1px;
    & > .accordionItem {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.accordionItem {
  display: flex;
  flex-direction: column;
  min-height: var(--min-height);

  // accordion collapse wraps body.. not directly accessible
  & > div {
    overflow-y: auto;
  }
}

.accordionBody {
  padding: 0;
}

// This is needed to accomodate for the styles on .modal-content which is
// supposed to be the parent of .modal-body
.deleteModalForm {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.deleteModalHeader {
  justify-content: flex-start;

  & > svg {
    fill: var(--bs-primary);
    margin-right: 1rem;
    transform: scale(calc(2 / 1.5));
  }
}
