@import 'bootstrap_custom_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.transferInfoBox {
  width: 240px;
  white-space: nowrap;
  margin-bottom: 1rem;
  background-color: #f3f3f3;
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.transferInfoForModal {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.errors summary {
  margin-bottom: 1rem;
}

.invalidMessage {
  color: var(--bs-primary);
}

.transferButton {
  display: block;
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: unset;
  }
}

.preTransferModal {
  figure {
    text-align: center;

    img {
      max-width: 100%;
      max-height: 400px;
    }
  }
}

.subtask {
  margin-top: 1rem;
}

.secondaryProgress {
  height: 0.25rem;
}

.progressAnnotation {
  display: flex;
  justify-content: flex-end;
}
