@import 'bootstrap_custom_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.transferButtonContainer {
  position: relative;
  display: inline-block;
  padding-bottom: 2rem;
}

.transferButtonContainer,
.transferButton {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: unset;
  }
}

.transferTime {
  position: absolute;
  margin-top: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  color: $text-muted;
  white-space: nowrap;
}

.preTransferModal {
  figure {
    text-align: center;

    img {
      max-width: 100%;
      max-height: 400px;
    }
  }
}

.progressAnnotation {
  display: flex;
  justify-content: flex-end;
}
