.waveformContainer {
  --trim-pixels-left: 0px;
  --trim-pixels-right: 0px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 0 #eee inset, 0 -1px 0 #eee inset, 1px 0 0 #eee,
    -1px 0 0 #eee;
  width: 100%;
  height: 100%;
}
