@import 'bootstrap_custom_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.waveformContainer {
  --cursor-display: none;
  --cursor-left: 0px;
  --trim-pixels-left: 0px;
  --trim-pixels-right: 0px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 0 #eee inset, 0 -1px 0 #eee inset;
  width: 100%;
  height: 100%;
}

.cursor {
  display: var(--cursor-display);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #999;
  left: var(--cursor-left);
  will-change: left;
}

.trim {
  --handle-diameter: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(#fff, 0.85);

  .waveformContainer.playbackActive & {
    backdrop-filter: var(--grayscale-filter);
  }

  & > .bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--bs-dark);
  }

  & > .handle {
    position: absolute;
    top: 100%;
    width: var(--handle-diameter);
    height: var(--handle-diameter);
    background: var(--bs-dark);
    outline: 1px solid #fff;
    border-radius: 50%;
    cursor: col-resize;

    &:active {
      cursor: grabbing;
    }

    &:focus,
    &:focus-visible {
      z-index: 1;
      box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
        rgba($dark, 0.5);

      & + .time {
        z-index: 1;
      }
    }
  }

  & > .time {
    position: absolute;
    top: calc(100% + var(--handle-diameter) + 4px);
    background: var(--bs-dark);
    color: #fff;
    padding: 0 3px;
    border-radius: 4px;
    border: 1px solid #fff;
    border-left-width: 2px;
    border-right-width: 2px;
  }

  &.left {
    left: 0;
    right: calc(100% - var(--trim-pixels-left));
    will-change: right;

    & > .bar {
      right: 0;
    }

    & > .handle {
      z-index: 1;
      right: 0;
      transform: translateX(calc(50% - 0.5px));
    }

    & > .time {
      z-index: 1;
      right: 0;
      transform: translateX(50%);
    }
  }

  &.right {
    left: calc(100% - var(--trim-pixels-right));
    right: 0;
    will-change: left;

    & > .bar {
      left: 0;
    }

    & > .handle {
      left: 0;
      transform: translateX(calc(-50% + 0.5px));
    }

    & > .time {
      left: 0;
      transform: translateX(-50%);
    }
  }
}

.waveformOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: text;
}
